---
---

@import "{{ site.theme }}";

.page-header {
    //background-color: rgb(238, 0, 0);
    background-color: rgb(54, 54, 54);
    color: #ffffff;
    background-image: linear-gradient(120deg, rgb(255, 0, 0), rgb(0, 0, 0));
    padding: 10px 20px; /* Reducir el padding vertical y horizontal */
}

/* Estilos del menú lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    bottom: 0;
    width: 250px;
    background-image: linear-gradient(to bottom, #292929, #1f1f1f);
    color: #ffffff;
    padding: 20px;
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar li {
    margin-bottom: 10px;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
}
/* Estilos para el contenido principal */
.main-content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
    background-color: #f2f2f2;
    color: #353535;
}

/* Estilo para el botón de desplegar/replegar el menú */
.toggle-menu {
    cursor: pointer;
    z-index: 1100;
    color: #fff; /* Icono con color que contraste con el fondo del encabezado */
    font-size: 24px;
    margin: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
}
/* Estilo para el footer */
.site-footer {
    position: relative;
    z-index: 1;
    margin-left: 0; /* Agregar margen izquierdo para evitar superposición */
    transition: margin-left 0.3s ease; /* Agregar transición al desplegar/replegar */
}